{% extends 'bootstrap/base.html' %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
  <h1>403 Forbidden</h1>
  <p>You don't have permission to access.
  <p><a href="/home">Back Home</a>
{% endblock %}