<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Authentication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/userslist">Users</a>
      </li>
        {% if not logged_in: %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/adduser">Register</a>
      </li>
        {% endif %}
<li class="nav-item">
        <a class="nav-link" href="#">Log Out</a>
      </li>
    </ul>


  </div>
</nav>
       {% block content %}
       {% endblock %}
</body>

</html>