{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content %}

  <!-- Main Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>U S E R L I S T</h1>
        {% for user in users.items %}
        <p>{{ user.id }} - {{ user.name }} - {{ user.email }} - {{ user.created_at }}</p>
        {% endfor %}

        {% if users.has_prev %}
          <a href="{{ url_for('get_all_users', page=users.prev_num) }}">Anterior</a>
        {% endif %}

        {% for num in users.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
        {% if num %}
        {% if users.page == num %}
        <a href="{{ url_for('get_all_users', page=num) }}"><b>{{ num }}</b></a>
        {% else %}
        <a href="{{ url_for('get_all_users', page=num) }}">{{ num }}</a>
        {% endif %}
      {% else %}
      <span class="ellipsis">&hellip;</span>
      {% endif %}
      {% endfor %}

        {% if users.has_next %}
          <a href="{{ url_for('get_all_users', page=users.next_num) }}">Siguiente</a>




      </div>
    </div>
  </div>
  <hr>
{%endblock %}